/* ----- colors ----- */

$PINK       = #F96B76
$LIGHT-PINK = #F8B5B8
$BLUE       = #3B0EDD
$LIGHT-BLUE = #A4E7FF
$YELLOW     = #F9E383
$ORANGE     = #F37449
$GREEN      = #99D18B
$PURPLE     = #A385BD

/* ----- fonts ----- */

$FONT = 'Avenir Next'